/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
/* Overlay */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);

  display: none;
  justify-content: center;
  align-items: flex-start;
  padding-top: 90px;
}

.modal.show {
  display: flex;
}

/* Modal box */
.modal-content {
  background: #fff;
  width: 85%;
  padding:10px;
  max-width: 900px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);

  animation: bootstrapSlide 0.25s ease-out;
}

@keyframes bootstrapSlide {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-header {
  background: #4caf50;
  color: white;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  font-size: 16px;
  font-weight: normal;
}

.close-modal {
  background: none;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.modal-body {
  padding: 14px 16px;
  font-size: 14px;
}

